.plenty img {
  width: 800px;
  margin-left: 25%;
  margin-top: 58px;
}
.arrangebtn {
  /* justify-content: space-around; */
  margin-left: 24%;
  margin-right: 18%;
  display: table-footer-group;
  flex-wrap:wrap-reverse;
  justify-content: flex-start;
}
.arrangebtn button {
  border: 1px solid #225779;
  width: 7.6rem;
  height: 38px;
  margin-left: 2px;
  border-radius: 5px;
  padding: 1px;
}

.para {
  margin-top: 20px;
  margin-left: 35%;
  font-size: 22px;
}

.stars img {
  position: absolute;
  width: 170px;
  height: 170px;
  margin-left: 90px;
  margin-top: -91px;
}
.gift img {
  position: absolute;
  width: 109px;
  height: 152px;
  margin-top: -91px;
  margin-left: -90px;
  transform: rotate(1.97deg);
}
.cardd {
  margin-right: 40px;
}
.cardd img {
  padding: 20px;
  width: 220px;
  height: 220px;
  margin-left: 15px;
  transform: rotate(0.97deg);
}
.dressImage {
  margin-right: 40px;
  height: 161px;
}
.dressImage img {
  padding: 5px;
  width: 100px;
  height: 151px;
  margin-left: 78px;
}
.Cloth {
  margin-right: 40px;
  height: 161px;
}
.Cloth img {
  margin-top: 5px;
  width: 140px;
  height: 151px;
  margin-left: 58px;
}

.Teddy {
  margin-right: 40px;
  height: 161px;
  margin-top: 25px;
}
.Teddy img {
  padding: 7px;
  width: 140px;
  height: 151px;
  margin-left: 68px;
}

.Flower {
  margin-right: 40px;
  margin-top: -42px;
}
.Flower img {
  padding: 10px;
  width: 200px;
  height: 200px;
  margin-left: 25px;
}

.Watch {
  margin-right: 40px;
  height: 161px;
  margin-top: 25px;
}
.Watch img {
  padding: 10px;
  width: 110px;
  height: 161px;
  margin-left: 80px;
}

.Batman {
  margin-right: 40px;
  margin-top: -42px;
}
.Batman img {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  margin-left: 25px;
}

.explo span {
  position: absolute;
  margin-top: 2px;
}
.explo a {
  font-weight: 600;
  margin-left: 47%;
}
